<mat-form-field appearance="outline" class="search">
  <mat-label>Search</mat-label>
  <input
    matInput
    aria-label="Cryptocurrencies"
    [matAutocomplete]="auto"
    (keyup)="keyUp$.next($event)"
  />
  <mat-autocomplete
    #auto="matAutocomplete"
    fxLayout
    fxLayoutAlign="space-around center"
  >
    <mat-option
      *ngFor="let crypto of filteredCrypto$ | async; trackBy: getObjectIdentity"
      [value]="crypto.name"
      (onSelectionChange)="onSelectionChange($event, crypto)"
    >
      <span fxFlex="50%">{{ crypto.name }}</span>
      <ng-container *ngIf="crypto?.price_usd; else priceNotAvailable">
        <small fxFlex="50%"> Price: {{ crypto.price_usd | currency }}</small>
      </ng-container>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<ng-template #priceNotAvailable>
  <small fxFlex="50%">Price not available</small>
</ng-template>
