<mat-form-field appearance="outline" class="search">
  <mat-label>Search</mat-label>
  <input
    matInput
    aria-label="Cryptocurrencies"
    [matAutocomplete]="auto"
    (keyup)="$keyUp.next($event)"
  />
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option
      *ngFor="let crypto of $cryptoCurrencies | async"
      [value]="crypto.name"
    >
      <span>Name: {{ crypto.name }}</span> |
      <small> Price:{{ crypto.volume_1day_usd | currency }}</small>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
