<div
  fxLayout.xs="column"
  fxLayout="row wrap"
  fxLayoutGap="2rem"
  class="favorite"
>
  <mat-card *ngFor="let crypto of favoriteCrypto$">
    <mat-card-title>{{ crypto.name }}</mat-card-title>
    <mat-card-content>
      <ng-container *ngIf="crypto?.price_usd; else priceNotAvailable">
        <small> Price: {{ crypto.price_usd | currency }}</small> </ng-container
      ><br />
      <ng-container *ngIf="crypto?.data_start">
        <small> Initial Release Date: {{ crypto.data_start | date }}</small>
      </ng-container>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button color="primary">
        <mat-icon>delete</mat-icon>
      </button></mat-card-actions
    >
  </mat-card>
</div>

<ng-template #priceNotAvailable>
  <small>Price is not available</small>
</ng-template>
